# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-macos-natives:
    name: Build macOS Natives
    runs-on: macos-26
    steps:
    - uses: actions/checkout@v4
    - name: Cache M2 local repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: m2
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: 25
        distribution: temurin
    - name: Build
      run: mvn --batch-mode compile
    - name: Upload macOS natives
      uses: actions/upload-artifact@v4
      with:
        name: macos-natives
        path: |
          */target/native/macos-*/
        if-no-files-found: error

  build-jar:
    name: Build JARs
    runs-on: ubuntu-latest
    needs: [build-macos-natives]
    steps:
    - uses: actions/checkout@v4
    - name: Cache M2 local repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: m2
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install gcc-aarch64-linux-gnu gcc-riscv64-linux-gnu gcc-x86-64-linux-gnu
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: 25
        distribution: temurin
    - name: Download macOS natives
      uses: actions/download-artifact@v4
      with:
        name: macos-natives
        path: .
    - name: Build
      run: mvn --batch-mode package -DskipTests
    - name: Log content of jar files
      run: |
        for module in blas lapack arpack; do
          echo "=== Contents of ${module}/target/${module}-*.jar:"
          jar tf ${module}/target/${module}-*.jar
        done
    - name: Upload target folder
      uses: actions/upload-artifact@v4
      with:
        name: target-dir
        path: |
          */target/
        if-no-files-found: error

  test-linux:
    name: Test ${{ matrix.runs-on }} JDK ${{ matrix.jdk }}
    runs-on: ${{ matrix.runs-on }}
    needs: [build-jar]
    strategy:
      matrix:
        jdk: [8, 11, 17, 21, 25]
        runs-on: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
    - uses: actions/checkout@v4
    - name: Cache M2 local repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: m2
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install libopenblas-dev libarpack2-dev
    - name: Download target folder
      uses: actions/download-artifact@v4
      with:
        name: target-dir
        path: .
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: temurin
    - name: Test
      run: mvn --batch-mode --projects blas,lapack,arpack surefire:test --fail-at-end

  test-macos:
    name: Test ${{ matrix.runs-on }} JDK ${{ matrix.jdk }}
    runs-on: ${{ matrix.runs-on }}
    needs: [build-jar]
    strategy:
      matrix:
        jdk: [11, 17, 21, 25]
        runs-on: [macos-15-intel, macos-26]
    steps:
    - uses: actions/checkout@v4
    - name: Cache M2 local repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: m2
    - name: Install dependencies
      run: brew install arpack
    - name: Download target folder
      uses: actions/download-artifact@v4
      with:
        name: target-dir
        path: .
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: temurin
    - name: Test
      run: mvn --batch-mode --projects blas,lapack,arpack surefire:test --fail-at-end
