# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: JDK ${{ matrix.jdk }}
    runs-on: ubuntu-latest
    env:
      LD_LIBRARY_PATH: "/usr/lib/x86_64-linux-gnu"
    strategy:
      matrix:
        jdk: [8, 11, 17, 21, 25]
    steps:
    - uses: actions/checkout@v2
    - name: Cache M2 local repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: m2
    - name: Install dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -y install libopenblas-dev libarpack2-dev gcc-aarch64-linux-gnu gcc-riscv64-linux-gnu gcc-x86-64-linux-gnu
    # Build with JDK 25
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: 25
        distribution: temurin
    - name: Build
      run: mvn --batch-mode compile test-compile
    # Test with JDK ${{ matrix.jdk }}
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: temurin
    - name: Test
      run: mvn --batch-mode --projects blas,lapack,arpack surefire:test
